# ----- Confluent Cloud connection -----
# Copy this file to .env and fill in your values from the Confluent Cloud UI.

KAFKA_BOOTSTRAP_SERVERS=pkc-921jm.us-east-2.aws.confluent.cloud:9092
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISMS=PLAIN
KAFKA_SASL_USERNAME=EWQAEWIDNBXQFLG5
KAFKA_SASL_PASSWORD=cfltOegJVFgH8nuMgi+UCmGOz7sL07UNeVXsK8rDrcmTXCOahVAVDshINN/PZ6SA

# ----- Topics -----
RAW_TOPIC=raw-transactions
PREDICTIONS_TOPIC=fraud-predictions

# ----- Pipeline knobs -----
PRODUCE_DELAY_SECONDS=1.0
MAX_ROWS=0   # 0 = stream entire file
MODEL_PATH=models/fraud_model.joblib
DATA_PATH=data/creditcard.csv
