faust-streaming==0.11.3
confluent-kafka==2.5.3
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
joblib==1.4.2
python-dotenv==1.0.1
imbalanced-learn==0.12.4
colorama==0.4.6
aiokafka==0.10.0
kafka-python==2.0.2